/* General element style */
* {
    box-sizing: border-box;
}

/* For Mobile */
@media only screen and (max-width:672px) {
    /* For mobile phones: */
    .main {
      width: 100%;
    }
}

/* General body style */
body {
    font-family: 'Open Sans', sans-serif;
    color: #352b2b;
    background:  #23d5ab;
	background-size: 400% 400%;
	animation: gradient 5s ease infinite;
}



/* headers style */
h1, h2, h3, h4, h5, h6 {
    font-family: 'arial', Arial, Helvetica, sans-serif;
}

h1 {
    font-weight: 100;
    font-size: 5em;
    margin: 0.2em 0em 0.2em 0em;
    padding: 1em;
}

h2  {
    font-size: large;
    font-weight: 400;
}

/* Divs style */
#title-div {
    margin: 0em;
    padding: 0em;
}

.flex-container {
    display: flex;
}

#text-div {
    width: 100%;
    margin-bottom: 3em;
}

#content-div {
    box-sizing: border-box;
    position: relative;
    background-color: white;
    border-radius: 8px;
    padding: 1em;
    color: black;
    height: 100%;
    width: 100%;
}

#sim-and-form-container {
    flex-flow: row wrap;
    justify-content: space-evenly;
    margin: 0;
    list-style: none;
    align-items: center;
}

#graph-sim-div {
    width: 100%;
    height: 50%;
    margin: 10px;
}

#form-div {
    max-width: left;
    margin: 20px;
    flex: 1 1 auto;
}

.form-legend {
   align-self: left;
   grid-column: span 5;
   /* margin & borders workaround to create bicolor
    * backround. */   
   border-radius: 8px;
   border-bottom-left-radius: 0px;
   border-bottom-right-radius: 0px; 
   background: #dfabab;
   padding: 0.5rem 1rem;
}

/* General forms style */
form {
    border: 8px solid #ad9595;
    border-radius: 10px;
    padding: 6em;    
}

/* Form elements style */
.grid-container {
    display: grid;
    row-gap: 0.5em;
    /*max-width: fit-content;*/
    grid-template-columns: 4fr 1fr 4fr 1fr 1fr;
    grid-template-rows: repeat(6, 1fr);
    align-items: stretch;
}

.label {
    max-width: fit-content;
    padding-right: 0.5em;
}

.minspan {
    text-align: right;
}

.maxspan {
    text-align: left;
}

.actspan {
    padding-left: 0.5em;
    text-align: left;
}

.formbtn-div {
    grid-column: span 5;
    flex-flow: row wrap;
    justify-content: flex-start;
    margin-left: 1em; /* creates gap between items */

}

/* General inputs style */
input:focus {
    outline: rgb(65, 192, 65);
}

/* Input ranges style */
input[type=range] {
    margin: 2px 2px 2px 2px;
    -webkit-appearance: none;
    height: 15px;
    border-radius: 30px;  
    background: #cecece;
    outline: none;
}
  
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 15px;
    border-radius: 50%; 
    cursor:all-scroll;
}

#popsize::-webkit-slider-thumb {
    background: black;
}

#infectionprobability::-webkit-slider-thumb {
    background:black;
}

#recoverytimeinmillis::-webkit-slider-thumb {
    background: Black;
}

#speed::-webkit-slider-thumb {
    background: black;
}

/* Buttons style */
button {
    background-color: #494545;
    border: none;
    border-radius: 6px;
    font-weight: 100;
    width: 6em;
    height: 2rem;
    transition-duration: 0.4s;
    cursor: pointer;
    margin-left: 5em; /* gap between buttons */
    /* button text */
    color: #d43a3a;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
}

button:hover {
    background-color: rgb(65, 192, 65);
    color: #d32f2f;
}

button:focus {
    outline: none;
}

/* Canvas style */
canvas {
    border-radius: 50px;
}

/* Link style */
a {
    color: #343434;
}

a:visited {
    color: rgb(202, 41, 41);
}
